.Header{
    padding-bottom:30px;
  }
  .main{
    border:1px solid;
    width:30%;
    height:400px;
  }
  .t4ul{
    border:1px solid;
    border-bottom:none;
    }
  .color1{
    background-color:Green;
    width:60px;
    padding-top:20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:50px;
    margin-top:20px;
  }
  .color1:hover{
    width:80px;
    
  }
  
  
  
  
  
  .color2{
    background-color:rgb(100, 100, 255);
    width:60px;
    padding-top:20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:50px;
    margin-top:20px;
  }
  .color2:hover{
    width:80px;
  }
  .color3{
    background-color:red;
    width:60px;
    padding-top:20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:50px;
    margin-top:20px;
  }
  .color3:hover{
    width:80px;
  }
  .color4{
    background-color:gray;
    width:60px;
    padding-top:20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height:50px;
    margin-top:20px;
  }
  .color4:hover{
    width:80px;
  }
  